
Source: capi-system-power
Section: libs
Priority: extra
Maintainer: pius lee <pius.lee@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libslp-pm-dev, libglib2.0-dev, capi-base-common-dev, libvconf-dev

Package: capi-system-power
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: A power library in Tizen Native API

Package: capi-system-power-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-system-power (= ${Source-Version}), dlog-dev, libslp-pm-dev, libglib2.0-dev, capi-base-common-dev, libvconf-dev
Description: A power library in Tizen Native API (DEV)

Package: capi-system-power-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-system-power (= ${Source-Version})
Description: A power library in Tizen Native API (DBG)

